.login-page {
  .form {
    max-width: 420px;
    width: 80%;
    margin: 160px auto;
  }

  .form-field {
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    overflow: hidden;

    .icon {
      color: #e9203d;
      width: 16px;
      float: left;
      margin-top: 3px;
    }

    input {
      font-size: 16px;
      display: block;
      border: none;
    }
  }

  button[type='submit'] {
    display: block;
    background: #e9203d;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 2;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
  }
}
